body{ background-color: rgb(255, 255, 255);}
.box1{ height:25px;
    width: 100%;
text-align: center;
background-image: linear-gradient( to right , red,green,greenyellow,yellow);
}

.box2{
    border: 5px solid red;
    background-color: rgb(173, 173, 243);
    padding-left: 45%;
}
.boxaq{border: black 1px solid;
    background-color: rgb(117, 241, 188);
    height:150px;
}
#a{ margin-left: 5%; padding-left: 1%; border: black 3px solid;
    background-color: rgb(83, 249, 249);
    height: 55px ;
    width: 320px;
position: absolute;
left: 1px;}
#b{ margin-left: 35%; padding-left: 1%; border: black 3px solid;
    background-color: rgb(83, 249, 249);
    height: 55px ;
    width: 320px;
position: absolute;
left: 1%;}
#c{ margin-left: 35%; padding-left: 1%; border: black 3px solid;
    background-color: rgb(83, 249, 249);
    height: 55px ;
    width: 320px;
position: absolute;
left: 32%;}
#d{ margin-left: 35%; padding-left: 1%; border: black 3px solid;
    background-color: aqua;
height: 55px ;
width: 320px;
position: absolute;
left: 1%;
top: 45%;}
.box3{
    background-image: linear-gradient( to right , red, orange, tomato);
text-align: center;}
.CCL{height:400px; 
background-image:radial-gradient(blue,blue,blue, rgb(0, 128, 87),rgb(81, 226, 81));} 

.CCL1{ height: 90px;
    width: 190px;
    border-radius: 15px;
    text-align: center;
    border: 2PX solid red;
color: red;
background-color: yellow;
margin: 150px 40px 0 40px ;
padding-top: 15px;
}
.CCL2{height: 90px;
    width: 190px;
    border-radius: 15px;
    text-align: center;
    border: 2PX solid red;
color: red;
padding-top: 15px;
background-color: yellow;
margin: 150px 40px 0 40px ;}
.CCL3{height: 90px;
    width: 190px;
    border-radius: 15px;
    padding-top: 15px;
    text-align: center;
    border: 2PX solid red;
color: red;
background-color: yellow;
margin: 150px 40px 0 40px ;}
.CCL4{height: 90px;
    width: 190px;
    border-radius: 15px;
    padding-top: 15px;
    text-align: center;
    border: 2PX solid red;
color: red;
background-color: yellow;
margin: 150px 40px 0 40px ;}
.box4{ border: 1px red solid;
background-color: tomato;
color: white;
text-shadow: 4px blue;
text-align: center;}
table{border: 3px solid; text-align: left;}
#you{ height: 30px; width:300px ; border: 1px white solid; background-color: rgb(33, 201, 39);color: white;
    font-size: x-large;}
#we{  height: 30px; width:300px ; border: 1px white solid; background-color:blue;color: white;
    font-size: x-large;}
#get{  height: 30px; width:300px ; border: 1px white solid; background-color:rgb(131, 131, 224);color: white;
    font-size: x-large;}
 #st{  border: 1px white solid; background-color:rgb(0, 0, 0);color: white;
    font-size: x-large;}
#t{  border: 1px white solid; background-color:rgb(236, 147, 46);color: white;
        font-size: x-large;}
.box1a{ height:25px; width: 100%; text-align: center; background-color: rgb(151, 151, 167);  }

        


