body{
    background-color: gray;
}

.box1{
    width: 419px;
    height: 119px;
    color: rgb(101, 33, 87);
    text-shadow: rgb(101 33 87) 1px 1px 1px;
    background-color: white;
    border-radius: 11px;
    border: 6px solid red;
    text-align: center;
    position: relative;
    font-size: 21px;
    top: 20px;
    left: 542px;
    color:rgb(71, 11, 71);
    text-shadow: 1px 1px 1px rgb(101, 33, 87);
    box-shadow: 5px 5px 0px rgb(77, 5, 77);
    font-style: italic;
    font-weight: bold;
}

.container{
    width: 1493px;
    height: 708px;
    border: 5px solid green;
    position: relative;
}

.box2{
    width: 234px;
    height: 255px;
    border-radius: 18px;
    border: 6px solid red;
    background-color: white;
    box-shadow: 5px 5px 0px rgb(77, 5, 77);
    top: 4px;
    position: relative;
    text-align: center;
    font-size: 29px;
    color:rgb(71, 11, 71);
    text-shadow: 2px 2px 2px rgb(101, 33, 87);
    
}

.box3{
    width: 234px;
    height: 255px;
    border-radius: 18px;
    border: 6px solid red;
    background-color: white;
    box-shadow: 5px 5px 0px rgb(77 5 77);
    position: absolute;
    top: 404px;
    font-size: 25px;
    color:rgb(71, 11, 71);
    text-shadow: 2px 2px 2px rgb(101, 33, 87);
    
}

img{
    width: 214px;
    height: 227px;
    padding-left: 10px;
    padding-top: 10px;
}

.box4{
    width: 234px;
    height: 255px;
    border-radius: 18px;
    border: 6px solid red;
    background-color: white;
    box-shadow: 5px 5px 0px rgb(77, 5, 77);
    top: 4px;
    position: absolute;
    left: 1167px;
    
}


.box5{

    width: 234px;
    height: 255px;
    border-radius: 18px;
    border: 6px solid red;
    background-color: white;
    box-shadow: 5px 5px 0px rgb(77 5 77);
    position: absolute;
    top: 404px ;
    left: 1167px;
    font-size: 25px;
    color:rgb(71, 11, 71);
    text-shadow: 2px 2px 2px rgb(101, 33, 87);
    
}

button{
    width: 101px;
    height: 24px;
    border: none;
    background-color: brown;
    border-radius: 10px;
    font-size: 13px;
    color: black;
}

.fixed{
    width: 450px;
    height: 82px;
    color: rgb(101, 33, 87);
    text-shadow: 1px 1px 1px rgb(101 33 87);
    background-color: greenyellow;
    border-radius: 14px;
    border: 6px solid red;
    text-align: left;
    position: fixed;
    bottom: 20px;
    left: 521px;
}


.boxx{
    width: 722px;
    height: 812px;
    border: 7px solid purple;
    position: relative;
    top: 29px;
    left: 359px;
    background-color: green;
    text-align: center;
    color: black;
    font-size: 21px;
}

.boxx1{
    width: 358px;
    height: 369px;
    position: absolute;
    border: 2px yellow;
    background-color: yellow;
    top: 122px;
    color:rgb(71, 11, 71);
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    line-height: 30px;
    
}

.boxx2{
    width: 358px;
    height: 369px;
    position: absolute;
    border: 2px yellow;
    background-color: yellow;
    left: 364px;
    top: 122px;
    color:rgb(71, 11, 71);
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    line-height: 30px;
}

.boxx3{
    width: 721px;
    height: 300px;
    position: absolute;
    border: 2px yellow;
    background-color: yellow;
    top: 509px;
    color:rgb(71, 11, 71);
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    line-height: 30px;
}